@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-dots::after {
  display: inline-block;
  content: ' ';
  animation: ellipsis steps(4,end) 900ms infinite;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}




.custom-grid-item {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 13;
  height: 100%;
}
.custom-grid-item-navbar {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}
.custom-grid-item-whole_dash_component {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 13;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/* Width and height */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(212, 137, 247);
  border-radius: 10px;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.2); /* 3D effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(186, 64, 243);
}

.toggle-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 16px;
}

@media (max-width:1100px) {
  .custom-grid-item {
    display: none;
  }

  .custom-grid-item.visible {
    display: block;
    position: absolute;
    width: 250px;
    z-index: 1000;
    background: white; /* Adjust as needed */
  }

  .app-container {
    position: relative;
  }

  .toggle-button {
    display: block;
  }
.custom-grid-item-navbar {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}
.custom-grid-item-whole_dash_component {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 13;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
}